/* Author: Samantha
This is the styling for my webpage. */

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: inherit;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  background-color: black;
}

.banner {
  background-color: black;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#logo {
  display: flex;
  width: max-content;
  height: max-content;
  opacity: 70%;
}

#header {
  color: rgb(206, 206, 206);
}

.topNav {
  flex-direction: row;
  display: flex;
  width: max-content;
  height: max-content;
  justify-content: center;
  margin: auto;
  gap: 10px;
  padding: 5px;
  background-color: rgb(206, 206, 206);
}

.mainBody {
  flex-direction: row;
  display: flex;
  margin: auto;
}

.sidebarNav {
  flex-direction: column;
  display: flex;
  width: max-content;
  height: max-content;
  gap: 10px;
  margin: 10px;
  padding: 10px;
  background-color: rgb(206, 206, 206);
}

.results {
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 10px;

  background-color: rgb(206, 206, 206);
}

#resultsHead {
  margin-top: 10px;
}

#resultsBody {
  margin: 0;
}

#searchLabel {
  font-weight: 800;
  padding: 5px;
}

#gender {
  font-weight: 600;
  padding: 5px;
}

#status {
  font-weight: 600;
  padding: 5px;
}

#name {
  font-weight: 600;
  padding: 5px;
}
